
body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  width: 90%;
  margin: auto;
  padding: 20px;
}

input {
  margin: 5px;
  padding: 8px;
}

button {
  padding: 8px 12px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

.red {
  background-color: #ffcccc;
}

.yellow {
  background-color: #fff3cd;
}
